version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: chat-online-db
    environment:
      POSTGRES_DB: chat-online-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      -  "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: chat-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: chat-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Listeners: Internal for Docker (kafka:29092), External for Localhost (localhost:9092)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: nc -z localhost 9092 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: chat_app
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      kafka:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./uploads/:/app/uploads
    environment:
      SERVER_PORT: 8080
      VIDEO_STORAGE_PATH: /app/uploads
      DB_URL: jdbc:postgresql://db:5432/chat-online-db
      DB_USER: postgres
      DB_PASSWORD: password

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092

      # --- ADD THESE MISSING MAIL VARIABLES ---
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}

      DDL_AUTO: update
      SHOW_SQL: "true"

volumes:
  postgres_data: