spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
      show-sql: true
      hibernate:
          ddl-auto: update
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtps
    properties:
      smtps:
        auth: true
        timeout: 5000
        starttls:
          enable: true
          required: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      ket-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: chat-group
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"

file:
    upload-dir: uploads
