spring:
  security:
    oauth2:
        client:
          registration:
            google:
              scope:
                - email
                - profile
                - https://www.googleapis.com/auth/drive.readonly 
              client-id: ${GOOGLE_CLIENT_ID}
              client-secret: ${GOOGLE_CLIENT_SECRET}
              client-api-key: ${GOOGLE_API_KEY}
              authorization-grant-type: authorization_code
  threads:
    virtual:
      enabled: true
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql://localhost:5432/chat-online-db
    username: postgres
    password: new_password
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
  jpa:
      show-sql: true
      hibernate:
          ddl-auto: validate
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtps
    properties:
      smtps:
        auth: true
        timeout: 5000
        starttls:
          enable: true
          required: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: chat-group
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
file:
    upload-dir: uploads
server:
  compression:
    enabled: false
