<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="global-notifications">

    <!-- 1. TOAST UI (Скрыт по умолчанию) -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1055;">
        <div id="liveToast" class="toast align-items-center text-white bg-dark border-secondary" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="bi bi-chat-dots-fill text-info me-2"></i>
                    <a id="global-toast-link" href="#" class="text-decoration-none text-white">
                        <strong id="global-toast-body" class="fw-normal">New Message...</strong>
                    </a>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- 2. LIBRARIES (SockJS + Stomp) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <!-- 3. OUR GLOBAL LOGIC -->
    <script src="/js/global-socket.js"></script>

</div>

</body>
</html>